name: Publish NuGet Package

on:
  push:
    tags:
    - "v[0-9]+.[0-9]+.[0-9]+"
jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 15
    steps:
    - name: Checkout
      uses: actions/checkout@v2
    - name: Verify commit exists in origin/main
      run: |
        git fetch --no-tags --prune --depth=1 origin +refs/heads/*:refs/remotes/origin/*
        git branch --remote --contains | grep origin/main
    - name: Set VERSION variable from tag
      run: echo "VERSION=${GITHUB_REF/refs\/tags\/v/}" >> $GITHUB_ENV
    - name: Build
      working-directory: ./src/DeckSurf.SDK
      run: dotnet build --configuration Release /p:Version=${VERSION}
    - name: Test
      working-directory: ./src/DeckSurf.SDK
      run: dotnet test --configuration Release /p:Version=${VERSION} --no-build
    - name: Pack
      working-directory: ./src/DeckSurf.SDK
      run: dotnet pack --configuration Release /p:Version=${VERSION} --no-build --output .
    - name: Push
      working-directory: ./src/DeckSurf.SDK
      run: dotnet nuget push DeckSurf.SDK.${VERSION}.nupkg --source https://api.nuget.org/v3/index.json --api-key ${{ secrets.NUGET_API_KEY }}

